@import url("menaIcons.css");
@import url("menaFontIcon.css");

/********************************************** progressAajax Start *****************************************************/

table.tblProgressContainer {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

table.tblProgressContainer td {
    vertical-align: top;
}

.div_ajaxProgressValueClass {
    color: #FFF;
    display: block;
    position: relative;
    top: -14px;
}

.ajaxProgressProgressBarFiller {
    background-color: #2B6FF3;
    border-radius: 30px;
    display: inline-block;
    position: relative;
}

.ajaxProgressValueClass {
    color: #FFF;
}

.ajaxProgressCurrentSerial,
.ajaxProgressCurrentSerial {
    border: 0px;
    background-color: transparent;
}

.ajaxProgressProgressBar {
    text-align: left;
    width: 300px;
    background-color: #b4d6ff;
    display: block;
    border-radius: 30px;
    margin-top: 15px;
}

.NotifPopUpContainer {
    position: absolute;
    bottom: -15px;
    z-index: 90;
    width: 245px !important;
    overflow: hidden;
    height: 25px;
    padding-left: 0;
    background-color: #00adee !important;
    border-radius: 8px;
    /* padding-right:5px; */
}

.NotifPopUpBtn {
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    color: #444444;
    display: inline-block;
    text-align: center;
    vertical-align: central;
    margin-top: 10px;
    overflow: hidden;
    text-align: inherit;
    padding-left: 4px;
    padding-right: 4px;
}

.NotifPopUp {
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: 1px;
    overflow: hidden;
}

.NotifPopUpLoad {
    position: absolute;
    top: 80px;
    display: none;
    text-align: center;
    width: 258px;
}

.scroll-pane,
.search-scroll-pane {
    width: 224px;
    height: 360px;
    padding-left: 15px;
    padding-right: 15px;
}

.readEmail {
    font-size: 11px;
    font-weight: normal;
    color: #333333 !important;
}

.unreadEmail {
    font-size: 11px;
    color: #00adee !important;
    cursor: pointer;
}

.sent_date {
    color: #666;
    font-style: italic;
    font-size: 9px;
    font-weight: normal;
}

.NotifPopUpContainer TR td {
    height: 25px;
    font-size: 11px !important;
    line-height: 25px;
    vertical-align: top;
    cursor: pointer;
    border-bottom: 1px solid #e6e8eb;
}

.NotifPopUp a {
    color: #333333;
    cursor: pointer;
}

.NotifPopUpButtons {
    cursor: pointer;
    position: relative;
    /*float : right;*/
    /*  margin-left:5px; 
    margin-right:5px;*/
    margin-bottom: 3px;
    display: inline-block;
}

#NotifPopUpButtons {
    height: 36px !important;
}

.notifIcon {
    margin-left: 5px;
    margin-right: 5px;
}

.NotifPopUpTitle {
    /* position:relative; */
    font-size: 11px;
    color: white !important;
    display: inline-block;
    /* overflow: hidden; */
    /* line-height: 25px; */
    text-transform: uppercase;
    /* margin-top:-3px; */
    /* width:150px; */
    vertical-align: middle;
}

.favorites_pages {
    font-size: 9px;
    text-decoration: none;
    padding: 3px;
}

.popUpHeader {
    border-bottom: 1px solid #CCC;
    font-size: 19px !important;
    color: #333333 !important;
    line-height: 30px;
    padding: 0px;
}

.detailsPopUpHeader {
    border-bottom: 2px solid #007ee1;
    font-size: 19px !important;
    color: #333333 !important;
    line-height: 30px;
    padding: 0px;
    margin-bottom: 20px;
}

.detailsPopUpHeader span {
    font-size: 12px !important;
}

.detailsPopUpSubHeader {
    border-bottom: 1px solid #CCC;
    font-size: 12px !important;
    color: #333333 !important;
    line-height: 30px;
    padding: 0px;
}

img[name='conv1'],
img[name='conv'],
img[name='conv2'] {
    display: inline-block;
}

.pagingationContainer span,
.pagingationContainer input[type=text] {
    border-radius: 4px;
    display: inline-block;
    border: solid 1px #ccc;
    padding: 10px;
    /* width:35px; */
}

.pagingationContainer input[type=text] {
    width: 40px;
    z-index: 0 !important;
}

.pagingationContainer input[type=button] {
    color: #FFF;
    height: 21px !important;
    border-radius: 4px;
    background: #ccc;
    min-width: 40px;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.pagingationContainer .currentPage {
    background: #007ee1;
    border: solid 1px #007ee1;
    color: #fff;
    font-weight: bold;
}

select[disabled] {
    background-color: #e1e5f1;
}

input[type='checkbox'] {
    outline: 0px;
}

input[type='checkbox']:after {
    line-height: 15px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #BCC5CB;
    /*   border-radius: 0.25em;*/
    background: #fff;
    cursor: pointer;
    outline: 0px;
}

input[type='checkbox']:checked:after {
    line-height: 15px;
    content: '\2714';
    text-align: center;
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #BCC5CB;
    /*   border-radius: 0.25em;*/
    background: #fff;
    color: #007ee1;
    cursor: pointer;
    outline: 0px;
}

input[type="checkbox"]:disabled:after {
    color: #333333;
    background-color: #F5F5F5;
    cursor: pointer;
    outline: 0px;
}

input[type="radio"] {
    margin-top: 1px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    position: relative;
    width: 14px;
    -webkit-appearance: none;
    border: 1px solid #a1a5a9;
    vertical-align: middle;
}

input[type="radio"]:after {
    border-radius: 24px;
    content: '';
    display: block;
    height: 6px;
    left: 3px;
    right: 3px;
    position: relative;
    top: 3px;
    width: 6px;
}

input[type="radio"]:disabled:after {
    background: none !important;
    color: #333333;
    cursor: pointer;
}

input[type="radio"]:checked:after {
    background-color: #007ee1;
    outline: 0px;
}

input[type=radio]::-ms-check {
    /* border-color: red;  This will make the border red when the button is checked. */
    color: #007ee1;
    /* This will make the circle red when the button is checked. */
}

input[type=checkbox]::-ms-check {
    /*border-color: green;  This will make the box green when the button is checked. */
    color: #007ee1;
    /* This will make the checkmark green when the button is checked. */
}

.table_setupe {
    padding: 12px 12px;
}

.table_setupe td {
    line-height: 22px !important;
}

span.add {
    margin: 0px 5px;
}

.newcollapseHeaderTable,
.collapseHeaderTable {
    /*  height:30px !important;*/
    line-height: 30px !important;
    background: #fff !important;
    color: #007ee1;
    border-bottom: 2px solid #2b6ff3 !important;
    font-size: 12px !important;
}

.newcollapseHeaderTable tr,
.collapseHeaderTable tr {
    background: #fff !important;
    border-bottom: 2px solid #007ee1 !important;
}

.newcollapseHeaderTable td,
.collapseHeaderTable td {
    color: #007ee1;
    font-weight: bold;
    /*text-align: center;*/
}

.newcollapseHeaderTable label,
.collapseHeaderTable label {
    color: #007ee1;
}

.newcollapseHeaderTable div.sign,
.collapseHeaderTable div.sign {
    color: #007ee1 !important;
}

.pagingationContainer {
    margin-top: 15px;
    display: block;
}

.text_style {
    color: #fff !important;
}

.text_style_header {
    color: #007ee1 !important;
}

td.text_style_header {
    font-weight: bold !important;
    color: #007ee1 !important;
}

td#plus_security {
    cursor: pointer !important;
    color: #007ee1 !important;
}

.calendars-month td .calendars-selected {
    background-color: #007ee1 !important;
    color: #FFF;
}

.CalendarClose {
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: url(CalendarClose.png) center no-repeat !important;
    display: inline-block;
}

.MainTableBody {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    border: 0px solid #007ee1;
}

.MainTableBody td {
    vertical-align: middle;
    font-size: 11px;
    font-family: Tahoma;
}

.mybuttonb,
.mybutton {
    font-size: 12px;
    color: #FFF;
    line-height: 25px !important;
    height: 25px !important;
    border-radius: 5px;
    background-color: #007ee1 !important;
    border: none;
    padding-left: 10px;
    /*width: 45px !important;*/
    padding-right: 10px;
    cursor: pointer;
    display: inline-block;
    margin: 2px 0px;
    /* min-width: 150px; */
}

.mybuttonb{
    line-height: 0px !important;
}

.mybuttonbWorkflow {
    border: 0;
    height: 30px !important;
    width: 50px;
    color: white;
    background-color: #007ee1;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.menaIcon.close_button {
    top: -4px;
}

.NotifPopUp .jspContainer {
    border-right: 2px solid #E4E9ED;
    border-left: 2px solid #E4E9ED;
    background: white;
    width: 241px !important;
}

input[type='button'].details {
    background: url(menaIcons/activeDetails.svg) center !important;
    background-repeat: no-repeat !important;
    width: 21px !important;
    background-position: 32px 20px;
}

input[type='button']:disabled.details {
    background: url(menaIcons/unactiveDetails.svg) center !important;
    background-repeat: no-repeat !important;
    width: 21px !important;
    background-position: 32px 20px;
    cursor: not-allowed;
}

.notifIcon.redFlag,
.notifIcon.grayFlag {
    width: 17px;
    height: 17px;
    top: 5px;
}
.close_button {
    position: absolute;
    top: 10px;
    cursor: pointer;
    width: 15px;
}

.change-modal-body {
    display: flex;
}

.left-blue-col {
    width: 83px;
    height: 347px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #2b6ff3;
}

.main-change-modal-body {
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 37px;
}

.modal-name-label {
    font-size: 26px !important;
    color: #000 !important;
    font-weight: 600 !important;
}

.modal-btns {
    display: flex;
    padding-right: 29px;
    padding-left: 29px;
    padding-top: 65px;
}

.sub_menu_box td:not(.MainMenuPopUpBody) {
    font-size: 0px;
    padding: 0px;
    margin: 0px;
}

.MainMenuPopUpBody {
    font-size: 11px !important;
    background: #FFF;
    padding: 10px;
    vertical-align: top;
}

.MainMenuPopUpBody td {
    font-size: 11px !important;
}

.Main_MENU_Popup_Div {
    position: absolute;
    display: none;
    padding: 10px;
    background: #FFF;
    top: 63px;
}

.MenaBox_overlay,
.Main_menu_overlay,
.MenaInnerBox_overlay {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 500%;
    width: 100%;
    background: #181818;
    filter: alpha(opacity=50);
    -moz-opacity: 0.50;
    opacity: 0.50;
    z-index: 999;
    max-height: 100vh !important;
}

#security_div {
    position: absolute;
    z-index: 1001;
    top: 35%;
    left: 50%;
    padding: 0px;
    margin: 0px;
}

.security_div_container {
    position: absolute;
    width: 560px;
    height: 232px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    top: -75px;
}

iframe[name="systemLockIframe"] {
    border-radius: 20px !important;
}

.security_div_header {
    width: auto;
    height: 22px;
    background-color: #FFF;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
}

#security_lock_img {
    position: absolute;
    margin: 0 20px;
    top: -45px;
    left: -105px;
}

#security_iframe {
    width: 100%;
    height: 255px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#MenaBox_div,
#MenaInnerBox_div,
#Main_menu_div {
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    padding: 0px;
    margin: 0px;
}

.MenaBox_div_container,
.MenaInnerBox_div_container,
.Main_menu_div_container {
    height: 180px;
    position: absolute;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    /*border: 1px solid #d4d4d4;*/
}

.MenaBox_div_header,
.MenaInnerBox_div_header,
.Main_menu_div_header {
    width: auto;
    height: 22px;
    background-color: #CCCCCC;
    vertical-align: middle;
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    vertical-align: middle;
}

#MenaBox_iframe,
#MenaInnerBox_iframe {
    height: auto;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: auto;
    border: 0px;
}

.MenaBox_close,
.MenaInnerBox_close,
.Main_menu_close {
    position: absolute;
    top: 0px;
    cursor: pointer;
}


/********************************************** progressAajax End *******************************************************/
*{outline: 0 !important}
.side-nav-icons a.side-nav-img{
    padding-top: 50%;
    text-decoration: none;
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    text-align:center;
    width:58px;
    height:48px;
    color: #00adee;
    line-height: 20px;
}
.container-fullwidth .default-body span
{
    margin : 0rem;              
}
.card-title [class^="icon-"], .card-title [class*=" icon-"]{
    color: #00adee;
    vertical-align: middle;
    font-size: 1.3rem !important
}
.icon-header{
    font-size: 2rem !important;
    padding-bottom: 10px;
    display: block;
    color: #00ADEE;
}
a{
    text-decoration: none !important;
}
.icon-approve,
.icon-reject{
    font-size: 2rem;
    cursor: pointer;
}
p.title{
    color: #00adee !important;
}
.container-fullwidth .default-body .card-title p{
    text-transform:uppercase
}
.navMenu [class^="icon-"], .navMenu [class*=" icon-"]{
    color: #00adee;
    vertical-align: middle;
    font-size: 1.0rem !important
}

input[type='checkbox']:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 9px;
    border: 1px solid #BCC5CB;
    background: #fff;
    cursor: pointer;
    text-align: center;
    outline: 0px;
}
input[type='checkbox']:checked:after {
    color: #007ee1;
    content: '\2714';
    position: relative;
}

.reminder_text{
    width:89%;
    display: inline-block;
}
.reminder_block{
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
}

.icon-edit,
.icon-delete,
.icon-alert,
.icon-active-alert{
    color: #00adee;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 5px !important;
    font-size: 0.90rem;
}

.icon-active-alert{
    margin: 0 5px !important;
    display: inline-block;

}

ul.my_weekly_activities {
    padding: 0;
    margin-bottom: 0;
}
ul.my_weekly_activities li{
    list-style: none;
}
.reminder_text,
.reminder_button{
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
}
#reminderWeeklyReminderModal .modal-dialog {
    width: 440px;
}
ul.sys_employees li{
    list-style: none;
    margin-bottom: 15px;
}
ul.sys_employees li img{
    width: 48px;
    height: 48px;
    border: 1px solid #d4d4d4;
    padding-right: 0;    
}
ul.sys_employees li p.empName{
    font-size: 0.80rem;
    vertical-align: middle;
    font-weight: 600;
}
ul.sys_employees li p.empInfo{
    font-size: 0.8rem;
    vertical-align: middle;
}
ul.sys_employees li p.empInfo span{
    display: inline-block;
    font-size: 0.7rem;
    vertical-align: middle;
    font-weight: 600;
}
ul.sys_employees .icon-male,
ul.sys_employees .icon-female{
    font-size: 3rem;
}
.take_poll{
    display: block;
    font-size: 0.8rem !important;
    color: #00adee !important;
    font-weight: 400;
}
.my-voting blockquote {
    height: 70px;
    font-weight: bold;
}

.btn-outline-primary:not(disabled):hover{
    color:#fff;
    background-color:#00ADEE;
    border-color:#00ADEE
}
.btn-gray,
/* input[type=button]:disabled{
    color: #4e4e4e !important;
    border-color: #4e4e4e !important;
    font-weight: 500 !important;
    background: white !important;
    width: 100px;
    display: block;
    border-color: #00ADEE;
    border-radius: 18px;
    font-size: 0.8rem;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
} */
.form-check-label{
    font-size: 0.85rem;
}
.icon-emp-ext{
    font-weight: normal !important;
    font-size: 1rem !important;
}

table.table.n-bordered-dark thead td, 
table.table.n-bordered-dark thead th{
    text-align: center !important;
    font-weight: 700  !important;
    font-size: 0.75rem  !important;
}
table.table.n-bordered-dark tfoot tr td{
    font-weight: 700!important;
}
.my-salary-slip .last-month,
.my-salary-slip .current-month{
    height: 70px;
    width: 70px !important;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #00adee;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}
.my-salary-slip .last-month{
    background: white
}
.my-salary-slip .current-month{
    background: #00adee;
    color: white;
}

label.col-form-label.lable_filter_transaction {
    font-size: 13px;
}
.filter_transaction{
    height: 26px !important;
        padding: 2px !important;
}

.icon-addon.addon-md .form-control, 
.icon-addon .form-control
{
    font-size: 0.80rem;
}
.input.fa-clock-o,
.input.fa-calendar-o{
    color: #cbd0d6;
    top: 0px !important;
    font-size: 1.1rem !important;
    margin: 0 !important;
}
input[type='checkbox']:after {
    line-height: 15px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #BCC5CB;
    /* border-radius: 0.25em; */
    background: #fff;
    cursor: pointer;
    outline: 0px;
}
input[type="radio"] {
    margin-top: 1px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    position: relative;
    width: 14px;
    -webkit-appearance: none;
    border: 1px solid #a1a5a9;
    vertical-align: middle;
}
input[type="radio"]:checked:after {
    background-color: #007ee1;
    outline: 0px;
}
input[type="radio"]:after {
    border-radius: 24px;
    content: '';
    display: block;
    height: 6px;
    left: 3px;
    right: 3px;
    position: relative;
    top: 3px;
    width: 6px;
}
input[type='checkbox']:checked:after:not(.manage_attendance_123_checkbox) {
    margin-right: 10px ;
}
input[type='checkbox']:checked:after {
    line-height: 15px;
    content: '\2714';
    text-align: center;
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #BCC5CB;
    /* border-radius: 0.25em; */
    background: #fff;
    color: #007ee1;
    cursor: pointer;
    outline: 0px;
}
input[type='checkbox']:after {
    margin-right: 10px !important;
}
input[type='checkbox']:after {
    line-height: 15px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #BCC5CB;
    /* border-radius: 0.25em; */
    background: #fff;
    cursor: pointer;
    outline: 0px;
}
.card-title{
    text-transform: uppercase;
}
.form-check-label{  
    line-height: 25px;
    vertical-align: middle;
   

}

.custom_style_date{
    width: 110px;
} 

.btn-circle-print,
.btn-circle-save,
.btn-circle-add-new,
.btn-circle-filter{  
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #E9EAEE;
}
.btn-circle-save .icon-save{
    font-size: 1.0rem !important;
}
.btn-circle-print .icon-print{
    font-size: 1.1rem !important;
}
.container-report{
    padding:2%;
}
.mssToDoList .DashBoardLinka{
    font-size: 1rem;
}
.mssToDoList .DashBoardDesc{
    font-size: 0.71rem;
}
.custom-collapse{
    display: none;
}
.emp-search{
    height:90px;
    border-bottom:1px solid rgba(0,0,0,.1);
}
.team-profile{
    height:200px;
    border-bottom:1px solid rgba(0,0,0,.1);
}
.team-profile .employee-name, .emp-search .employee-name{
    font-weight: bold;
}
.team-profile .emp-details,.emp-search .emp-details{
    font-size: 0.725rem;
}
.team-profile .icon-female,
.team-profile .icon-male{
    font-size: 4rem;
}

.team-profile-search{
    height:200px;
}
.team-profile-search .employee-name{
    font-weight: bold;
}
.team-profile-search .emp-details{
    font-size: 0.725rem;
}
.team-profile .icon-female,
.team-profile .icon-male{
    font-size: 4rem;
}

.team-profile .mycontent-left{
    border-right: 1px solid #08b0ef;
}
.emp:nth-child(3n+2) .team-profile,.emp:nth-child(3n+2) .emp-search{
    border-right:1px solid rgba(0,0,0,.1);
    border-left:1px solid rgba(0,0,0,.1);
}
.my_team_profile{
    margin: 0rem;
    font-size: 0.8rem;
    color: #00ADEE !important;
}
.service-years{
    font-size: 1.25rem;
    font-weight: 500;
}
/* img[src*="empty_pp_"] {
    border:0 !important;
} */
.reminder_button {
    visibility: hidden !important;
    cursor: pointer;
}
.reminder:hover .reminder_button {
    visibility: visible !important;
}
.swiper-container
{
    margin: 0px !important;
}

 span.line_text{
    width: 1.7px;
    background-color: rgba(0,0,0,.1);
    margin: 4px 1px !important;
}
.arrow_box {
    z-index: 2;
}
#showSalarySlipModal{
    z-index: 9999
}
.request-filter{
    background-color: #FAFBFD;
    margin-top:-20px;
    border-top : 1px #e4e4e4 solid;
}
.default-body .my-vacations .icon span{
    text-align: center;

    vertical-align: top;
}
.overlay{
    z-index: 999;
}
#support_document_label.custom-file-label, 
#support_document_label.custom-file-label::after{
    overflow: hidden;
    height: calc(1.7rem + 2px) !important;
}
.cursor-not-allowed{
    cursor: not-allowed;
}

input[type="file"]{
    font-size: 0 !important
}
h6.header-title{
    text-align: center !important;
    font-weight: 700 !important;
    font-size: 0.75rem !important;
    border-bottom: 2px solid rgb(228, 228, 228);
    padding: .75rem;
    color: #00ADEE;
}
.DashBoardContainer .div-header-fixed{
    display: none !important;
}

.rgSaveD,
.rgPrintD,
.rgCloseD{
    display: inline-block;
    margin: 0;
    font-size: 2rem;
    cursor: pointer;
}
.rgSaveD,
.rgPrintD{
    display: none;
}
.menaIcon.search{
    cursor: pointer;
}
.talent_profile {
    position: relative;
}
.tranning_modual_style{
    position: absolute;
    bottom: 11px;
    left: -20px;
}
span.nodata-feq-text {
    text-transform: uppercase;
    color: #00ADEE;
}
p.nodata-feq-text {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
}
.arabic-input{
    direction:rtl;
}
.english-input{
    direction: ltr;
}
.fdatepicker[disabled]{
    background-color: #e9ecef !important;
}
.fdatepicker[disabled]+.input-group-append,
.form-control.has-icon[disabled]+.input-group-append{
    display: none !important;
}
*::-ms-clear {
    display: none;
}